<div class="homepage">
  <div><img src="https://raygun.com/images/language-template/tiles/languages/ruby.svg" height="128" width="128" title="Ruby"></div>
  <h1>Welcome to <b>note-reminder</b></h1>
  <div class="homepage_description">
    Go to <a href="/admin" target="_blank">admin zone</a> or <a href="http://github.com/alexhifer/note-reminder" target="_blank">sources</a>.
  </div>
</div>